
<div class="container">
    <button type="button" class="btn btn-primary my-4 mx-4" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onAdd()">
        Add Product
    </button>
</div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Product Description</th>
          <th>Product Image Url</th>
          <th>Product Category</th>
          <th>Product Quantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of allProducts">
          <td>{{product.productId}}</td>
          <td>{{product.productName.substr(0,20)}}</td>
          <td>{{product.productDescription.substr(0,30)}}</td>
          <td>{{product.productImageUrl}}</td>
          <td>{{product.category.categoryName}}</td>
          <td>{{product.quantity}}</td>
          <td>
            <span><i class="bi bi-pencil-square mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal" style=" color:#0D6EFD" (click)="onEdit(product)"></i></span>
            <span><i class="bi bi-trash3-fill mx-2" style="color: red;" (click)="deleteProduct(product.productId)"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" *ngIf="showAdd">Add Product</h1>
          <h1 class="modal-title fs-5" id="exampleModalLabel" *ngIf="showUpdate">Update Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formData">
            <span *ngIf="!formData.valid" style="color: red;">*All fields are required</span>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Product Name</label>
                <input type="text" class="form-control" formControlName="productName" id="exampleFormControlInput1" placeholder="Product Name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Product Description</label>
                <textarea class="form-control" formControlName="productDescription" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Image url</label>
                <input type="text" class="form-control" formControlName="productImageUrl" id="exampleFormControlInput1" placeholder="Image Url">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Category</label>
                <select class="form-select" aria-label="Default select example" formControlName="categoryName">
                  <option selected></option>
                  <option [ngValue]="category.categoryName" *ngFor="let category of categories">{{category.categoryName}}</option>
                </select>    
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Quantity</label>
                <input type="number" class="form-control" formControlName="quantity" id="exampleFormControlInput1" placeholder="quantity">
              </div>
         
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closemodal">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!formData.valid" (click)="addProduct()" *ngIf="showAdd">Add</button>
          <button type="button" class="btn btn-primary" [disabled]="!formData.valid"(click)="updateProduct()" *ngIf="showUpdate">Update</button>
        </div>
        <p>{{formData.value | json}}</p>
      </div>
    </div>
  </div>