<nav class="navbar bg-body-tertiary bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin-dashboard" >MyShop</a>
    <span>Welcome {{username}}</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Admin Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" id="close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin-dashboard" (click)="close()">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="categories" (click)="close()">Category</a></li>
              <li><a class="dropdown-item" routerLink="products" (click)="close()">Product</a></li>
              <li><a class="dropdown-item" routerLink="users" (click)="close()">Users</a></li>
              <li><a class="dropdown-item" href="#">Orders</a></li>
              <li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link logout-hover" *ngIf="isLoggedIn" (click)="doLogout()">Logout</a>
          </li>
        </ul>

        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>